// SASS stuff

// Can't use picocss mixins in this file
$sm-breakpoint: 576px;
$md-breakpoint: 768px;

// Color theming

[data-theme="light"], :root:not([data-theme="dark"]) {
    --primary: hsl(120deg 28% 40%);
    --primary-hover: hsl(120deg 28% 20%);
    --primary-bg-lo: hsl(120deg 28% 93%);
    --primary-bg-hi: hsl(120deg 28% 81%);
    --font-size: 16px;
    --text-primary: var(--pict-h2-color);
    --pico-primary-background: var(--primary);
    --pico-primary-underline: var(--primary);
    --pico-primary-hover-background: var(--primary-hover);
    --pico-primary: var(--primary);
    --pico-secondary: var(--pico-color);
}
@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme="light"]) {
        --primary-bg-lo: hsl(133deg 28% 7%);
        --primary-bg-hi: hsl(133deg 28% 19%);
    }
}

button, [type=submit], [type=reset], [type=button], [type=file]::file-selector-button, [role=button] {
    --pico-color: var(--pico-secondary-inverse);
}

:is(button,[type=submit],[type=button],[role=button]).outline.secondary, [type=reset].outline {
    --pico-color: var(--pico-secondary);
}

// Nav

.nav-wrapper {
    background: linear-gradient(0, var(--primary-bg-hi), var(--primary-bg-lo));
}

// Mobile menu
#nav-menustate__toggle {
    display: none;
    color: var(--pico-primary);
}
@media only screen and (max-width: $sm-breakpoint) {
    #nav-menustate__toggle {
        display: block;
    }
    .nav-menustate__toggle-hidden {
        display: block;
    }
    .nav-menustate__toggle-visible {
        display: none;
    }

    #nav-menustate ~ nav ul:first-of-type {
        flex-grow: 1;
        margin-left: 0;

        li:first-child {
            flex-grow: 1;
        }
    }
    #nav-menustate:checked ~ nav ul:first-of-type {
        position: sticky;
        z-index: 1;
        background: var(--primary-bg-hi);

        .nav-menustate__toggle-hidden {
            display: none;
        }
        .nav-menustate__toggle-visible {
            display: block;
        }
    }

    #nav-menustate ~ nav ul:last-of-type {
        display: none;
        background: var(--primary-bg-hi);
        position: fixed;
        overflow-y: auto;
        overscroll-behavior-y: contain;
        left: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        padding-top: 5rem;
        & > li {
            display: block;
        }
        a {
            display: block;
            text-align: center;
        }
        button, input[type=submit] {
            width: 100%;
        }
    }
    #nav-menustate:checked ~ nav ul:last-of-type {
        display: block;
    }
}

// Dark mode doesn't do the right thing with the link colors by default
@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme="light"]) .nav-wrapper a {
        color: var(--primary-hover);
    }
    :root:not([data-theme="light"]) .nav-wrapper a:is([aria-current], :hover, :active, :focus), .nav-wrapper [role="link"]:is([aria-current], :hover, :active, :focus) {
        color: var(--primary);
    }
}

// Flash messages

.flash-messages {
    padding: 0;

    li {
        list-style: none;
        padding: 1rem;
        border: 2px solid var(--primary);
        border-bottom-width: 4px;
        border-radius: 0.25rem;

        &.error {
            background: none;
            border-color: var(--form-element-invalid-message-color);
        }
    }
}

// Data table

.table-container {
    .table-container__wrapper {
        overflow-x: auto;
    }

    th.desc a:after {
        content: ' \21e7';
    }

    th.asc a:after {
        content: ' \21e9';
    }

    & .pagination {
        display: flex;
        justify-content: center;
        li, li a {
            list-style: none;
            text-align: center;
            min-width: 2rem;
        }
        li.active a {
            text-decoration: none;
            --pico-color: var(--text-primary);
        }
    }
}

@media only screen and (min-width: $md-breakpoint) {
    .data-table > form {
        --form-element-spacing-vertical: 0.25rem;
        --spacing: 0;
        display: flex;

        .form-group {
            display: inline-block;
            width: auto;
            margin-right: 1rem;
        }

        input[type=submit], button {
            // Not very elegant or robust. Better would be an invisible <label> standin.
            margin-top: 1.8rem;
        }
    }
}
