{% load static %}
<div class="nav-wrapper">
  <input type="checkbox" id="nav-menustate" class="visually-hidden" aria-visible="false" tabindex="-1">
  <nav class="container">
    <ul>
      <li>
      <img src="{% static 'img/icon.svg' %}" alt="Django Bedrock icon" width="32" height="32" /> <span class="visually-hidden--sm">Django Bedrock</span>
      </li>
      <li>
        <label for="nav-menustate" id="nav-menustate__toggle" class="outline" tabindex=0 role="button">
          <span class="nav-menustate__toggle-hidden">
            Show menu
          </span>
          <span class="nav-menustate__toggle-visible">
            Hide menu
          </span>
        </label>
      </li>
    </ul>
    <ul>
      {% include "main/layout/nav-item.html" with href="/" label="Home" %}
      {% include "main/layout/nav-item.html" with href="/bar" label="Another" %}

      {% if user.is_authenticated %}
      {% url "migrations_list" as migrations_list_href %}
      {% include "main/layout/nav-item.html" with href=migrations_list_href label="Migrations" %}
        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <button>Logout</button>
        </form>
      {% else %}
      {% url "login" as login_href %}
      {% include "main/layout/nav-item.html" with href=login_href label="Login" %}
      {% endif %}
    </ul>
  </nav>
</div>
